.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 64px;
}

.navigate {
    display: flex;
    gap: 16px;
    margin-right: 24px;
    cursor: pointer;
}

.left-content {
    display: flex;
    align-items: center;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.header img {
    height: 40px;
    width: auto;
    padding-left: 24px;
}

.logo {
    font-size: 18px;
    font-weight: 600;
    color: #111;
    letter-spacing: 0.5px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.latin {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 32px 24px;
    background-color: #acacac;
}

.latin img {
    padding: 32px 24px;


}

.latin-text {
    width: 40%;
}

.Start {
    border: 2px solid #000;
    background-color: #acacac;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 16px 24px;
}

.Practice {
  display: flex;
  gap: 32px;
  align-items: flex-start; 
}


.practice-left {
  flex: 60%;  
}

.practice-left img {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 16px; 
  padding: 24px 32px;
}

.practice-text h1 {
  margin-bottom: 16px;
  margin-left: 24px;
}

.practice-text p {
  margin-bottom: 16px;
  margin-left: 24px;
}

.practice-text span {
  display: block;
  margin-top: 24px;
  font-size: 0.9rem;
  color: #555;
  margin-left: 24px;
}


.Practice-tab {
  flex: 40%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.tab-item {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  border: 2px solid #000;
  background-color: #acacac;
  padding: 12px;
  border-radius: 4px;
  margin-left: 24px;
  margin-top: 32px;
}

.tab-item img {
  width: 35%;
  object-fit: cover;
  border-radius: 4px;
  padding: 0;
}

.tab-text {
  width: 65%;
}


.tab-text a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}


.start-learning {
  background-color: #acacac;
  padding: 40px 20px;
  text-align: center;
}


.start-header h1 {
  margin-bottom: 30px;
}


.learning-block-container {
  display: grid;
  grid-template-columns: repeat(3, auto); 
  justify-content: center;                 
  gap: 20px;                               
}


.learning-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: white;
  width: 400px; 
  text-align: center;
}


.learning-block img {
  width: 400px;   
  height: auto;   
  display: block;
  border-radius: 4px;
}


.learning-block-text h2,
.learning-block-text h4 {
  margin: 5px 0;
}